name: Verify

on:
  push:
    branches:
      - '**'
      - '!main'
      - '!release'

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25'
        distribution: 'temurin'
    - name: Verify with Maven
      env:
        TZ: 'Asia/Tokyo'
      run: mvn verify --file pom.xml
